body {
   color: black;
   background-color: white;
   margin-left: 5%;
   margin-right: 5%;
   font-family: Helvetica, Arial, Verdana, Helvetica, sans-serif ;
   text-align: justify;
}
p, ul, ol, dl, address {
   color: black;
   background-color: white;
}

ol.roman {
   marign-left: 0; 
   padding-left: 15;
} 
h1 {
   color: #0303af;
   background-color: white;
   border-bottom: solid thin;
}
h2 {
   color: black;
   background-color: white;
}
h3 {
   color: black;
   background-color: white;
}

/* dl are used quite frequently as menus: increase distance between
items */

dl dd     { margin-bottom: 1em; }

/* dl with bold 'menu items' */
dl.strong dt { font-weight: bold; }


/* table */
th { vertical-align: baseline }
td { vertical-align: top }


table.default {
     background: #EEEEEE;
     border:     none;
     padding:    0px;
     border:     thin solid #DDDDDD 
}

table.default th {
     background:   #DDDDDD;
     color:        #2a668c;
     padding-left:  5px;
     padding-right: 5px;
}

table.default td {
     vertical-align: top;
     padding-left:  5px;
     padding-right: 5px;
}

table.default caption {
     background:   #DDDDDD;
     color:        #2a668c;
}

table.ruled {
     background: #EEEEEE;
     border:     none;
     padding:    0px;
     border:     thin solid #DDDDDD 
}

table.ruled th {
     background:   #DDDDDD;
     color:        #2a668c;
}

table.ruled td {
     vertical-align: top;
     padding:    1px;
     margin:     0px;
     border:     thin solid #DDDDDD      
}

table.ruled td table {
     border-style:     none;
}

table.ruled td table td {
     border-style:     none;
}


table.ruled caption {
     background:   #DDDDDD;
     color:        #2a668c;
}

.searchbox {
     padding: 1%;
     width:        89%;   
     margin-left:  5%;
     margin-right: 5%;              
}



a:link {
   color: blue;
   background-color: transparent;
}
a:visited {
   color: purple;
   background-color: transparent;
}
a:active {
   color: red;
   background-color: white;
}

div#menu {
     background: #d1dbff;      /* light blue */
     color: black;
     text-align: center;
     padding-top:   5px;
     padding-bottom:5px;
     margin-top:    2em;
     margin-bottom: 1em;
     clear: both;
}

address {
    font-size: 85%; 
}

#question { font-weight: bold; color: brown;
            }



/* no border on imglinks */
a:link img, a:visited img { border-style: none } 
@media screen {  /* hide from IE3 */
a[href]:hover { background: #ffa }
}
